@layer base {
  * {
    @apply border-border;
  }

  html,
  body {
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @apply bg-background text-text font-sans;
  }

  @media (prefers-reduced-motion: reduce) {
    html,
    body {
      scroll-behavior: auto;
    }
  }
}
